* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-height: 100vh;
  background-color: gray;
  display: flex;
  flex-grow: 1;
  flex-flow: row wrap;
  aspect-ratio: 1/1;
}

.square {
  --square-width: 50%;
  flex-basis: var(--square-width);
  background-color: lightgray;
  border: 1px solid gray;
  aspect-ratio: 1/1;
  box-sizing: border-box;
}

.hovered {
  background-color: black;
}

@media (max-aspect-ratio: 1/1) {
  body {
    flex-direction: row;
  }
}

@media (min-aspect-ratio: 1/1) {
  body {
    flex-direction: column;
  }
}
